body {
    background-color: #9beb1c;
    color: #222222;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #6b2d5c;
    color: rgb(166, 129, 233);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #6b2d5c;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: rgb(36, 134, 245);
    text-decoration: none;
    background-color: #f575cf;
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: #c77dff;
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: rgb(245, 20, 189);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #27ee8b;
    margin-top: 8px;
}

.card {
    background-color: #bd17eb;
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #e62bb7;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: #222222;
    color: rgb(70, 38, 212);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}