
:root {
    --cor-fundo : #f4f1ea;
    --coor-texto: #222222;
    --cor-principal:#6b2d5c;
    --cor-secundaria:#9b4d83;
    --cor-hover:#c77dff;
    --cor-suprficie:white;
    --cor-card:#f3d9fa;
    --cor-legenda:#555555;
    --cor-clra:white;
    --cor-roape:#222222;
}

body{
    background-color:var(--cor-fundo);
    color:var(--cor-texto);
    font-family:Arial, sans-serif;
    margin: 0;
}

header {
    background-color: var(--cor-principal);
    color: var(--cor-clara);
    text-align: center;
    paddign: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #6b2d5c;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

nav {
    margin-top: 20px;
}

nav a {
    color: var(--cor-clara);
    text-decoration: none;
    background-color: var(--cor-secundaria);
    padding: 10px 15px;
    border-radius: 8px;
    margin: 5px;
    display: inline-block;
}

nav a:hover {
    background-color: var(--cor-hover); 
}

main {
    width: 80%;
    margin: auto;
}

section {
    background-color: var(--cor-suprficie);
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #27ee8b;
    margin-top: 8px;
}

.card {
    background-color: var(--cor-card);
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid var(--cor-principal)
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: var(--cor-rodape);
    color: var(--cor-clara);
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}
button {
    background-color: var(--cor-principal);
    color: var(--cor-clara);
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background-color: #9b4d83;
    }
    -curtir {
    display: block;
    width: fit-content;
    margin: 20px auto;
}